<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hualife.scriptkill.mapper.TaskUserRoleMapper">
  <resultMap id="BaseResultMap" type="com.hualife.scriptkill.model.TaskUserRole">
    <id column="task_id" jdbcType="INTEGER" property="taskId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="script_id" jdbcType="INTEGER" property="scriptId" />
    <result column="role_money" jdbcType="VARCHAR" property="roleMoney" />
  </resultMap>
  <sql id="Base_Column_List">
    task_id, user_id, role_id, script_id, role_money
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_task_user_role
    where task_id = #{taskId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_task_user_role
    where task_id = #{taskId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hualife.scriptkill.model.TaskUserRole">
    insert into t_task_user_role (task_id, user_id, role_id, 
      script_id, role_money)
    values (#{taskId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, 
      #{scriptId,jdbcType=INTEGER}, #{roleMoney,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hualife.scriptkill.model.TaskUserRole">
    insert into t_task_user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        task_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="scriptId != null">
        script_id,
      </if>
      <if test="roleMoney != null">
        role_money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="scriptId != null">
        #{scriptId,jdbcType=INTEGER},
      </if>
      <if test="roleMoney != null">
        #{roleMoney,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hualife.scriptkill.model.TaskUserRole">
    update t_task_user_role
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="scriptId != null">
        script_id = #{scriptId,jdbcType=INTEGER},
      </if>
      <if test="roleMoney != null">
        role_money = #{roleMoney,jdbcType=VARCHAR},
      </if>
    </set>
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hualife.scriptkill.model.TaskUserRole">
    update t_task_user_role
    set user_id = #{userId,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER},
      script_id = #{scriptId,jdbcType=INTEGER},
      role_money = #{roleMoney,jdbcType=VARCHAR}
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>
</mapper>